/********** GENERELT **********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 2.5% 7.5%;
}

main a,
main a:visited {
  color: #ffa31a;
}

main a:hover {
  color: black;
}

p {
  font-family: "Ubuntu";
  line-height: 2.5;
}

br {
  margin-bottom: 2%;
}

.bold {
  font-weight: bold;
}

.break_small {
  height: 10px;
  width: 100%;
  background-color: #ffa31a;
  margin: 1% 0;
}

.break {
  height: 20px;
  width: 100%;
  background-color: #000000;
  margin: 2% 0;
}

h2,
h1,
a {
  font-family: "Permanent Marker";
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 2.5%;
}

/********** MOBIL (og mindre) **********/

/** Header/Burgermenu **/

body {
  font-family: Arial, sans-serif;
}
nav {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 7.5%;
  font-weight: bold;
}
nav .main_menu {
  display: flex;
  list-style: none;
}
nav .main_menu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 18px;
  transition: 0.2s ease;
}
nav .main_menu li a:hover {
  color: #ffa31a;
}
nav .open_menu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .main_menu .close_menu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.fa-github:hover {
  color: #ffa31a;
}

.fa-youtube:hover {
  color: #ff0000;
}

.fa-facebook:hover {
  color: #1877f2;
}

.fa-instagram:hover {
  color: #c13584;
}

nav .logo {
  margin: 6px;
  cursor: pointer;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  nav .main_menu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    transition: top 1s ease 0s;
    display: none;
  }
  nav .main_menu .close_menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .open_menu {
    display: block;
  }
  nav .main_menu li a:hover {
    background: none;
    color: #ffa31a;
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
}

/** Main **/
.grid_1-1-1 {
  display: flex;
  justify-content: space-between;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2.5%;
}

@media (max-width: 800px) {
  h2 {
    font-size: 1.2rem;
  }

  .bold {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
  }

  p {
    font-size: 0.9rem;
  }
}

/** Footer **/
body {
  font-family: Arial, sans-serif;
}
:root {
  --mycolor: #ffa31a;
}
footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background: rgb(21, 22, 26);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  padding: 20px;
}
.text {
  font-size: 28px;
  font-weight: bold;
  margin: 40px auto;
}

.list-footer {
  margin-top: 20px;
  display: flex;
  list-style-type: none;
}
.list-footer li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}
.list-footer li a:hover {
  color: var(--mycolor);
}

.social-media {
  margin: 20px auto;
}
.social-media i {
  padding: 20px;
  font-size: 25px;
  color: #fff;
}

.fa-github:hover {
  color: #ffa31a;
}

.fa-youtube:hover {
  color: #ff0000;
}

.fa-facebook:hover {
  color: #1877f2;
}

.fa-instagram:hover {
  color: #c13584;
}

@media (max-width: 810px) {
  .list-footer li a {
    padding: 15px;
    font-size: 15px;
  }
  .social-media i {
    padding: 10px;
  }
}
@media (max-width: 610px) {
  .list-footer li a {
    padding: 10px;
    font-size: 12px;
  }
  .social-media i {
    font-size: 15px;
  }
}
@media (max-width: 470px) {
  .text {
    font-size: 12px;
  }
  .list-footer li a {
    padding: 5px;
  }
}
@media (max-width: 330px) {
  .text {
    font-size: 10px;
  }
}

/********** WEB **********/

/** Header/Burgermenu **/

/** Main **/
@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5%;
  }

  .flexbox_sounds {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .order {
    order: 1;
  }
}
