/********** GENERELT **********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 2.5% 7.5%;
}

main a,
main a:visited {
  color: #ffa31a;
}

main a:hover {
  color: black;
}

p {
  font-family: "Ubuntu";
  line-height: 2;
}

br {
  margin-bottom: 2%;
}

.bold {
  font-weight: bold;
}

.pm {
  font-family: "Permanent Marker";
}

.TA {
  text-align: center;
}

.break_small {
  height: 10px;
  width: 100%;
  background-color: #ffa31a;
  margin: 1% 0;
}

.break {
  height: 20px;
  width: 100%;
  background-color: black;
  margin: 2% 0;
}

h2,
h1,
a {
  font-family: "Permanent Marker";
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 2%;
}

.grid_opgaver img {
  margin-bottom: 2.5%;
}

.forside {
  background-image: url(andet/forside.png);
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.logo {
  width: 50%;
  aspect-ratio: 1/1;
}

.logo_hover {
  display: none;
}

.overskrift {
  font-size: 3rem;
  color: #ffa31a;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
}

.hover {
  transition: 5s;
}

.hover:hover {
  transition: 0s ease-in-out;
  color: #ffff;
}

.tekst_forside {
  margin-top: 10%;
}

.tekst_forside h2,
.tekst_forside h3 {
  text-align: center;
}

.tekst_forside_1 {
  font-size: 1.4rem;
}

.tekst_forside_2 {
  margin-top: 2.5%;
  margin-bottom: 15%;
  font-size: 1rem;
  font-family: "Permanent Marker";
  color: #ffa31a;
}

.tekst_forside_sektion_2 {
  background-color: black;
  margin: -2.9% -8.8%;
}

.tekst_forside_3 {
  padding: 5% 7.5%;
  margin-bottom: 10%;
  color: white;
  text-align: center;
}

.rem1 {
  font-size: 1rem;
}

.tekst_christian_1 {
  font-size: 1.2rem;
}

.tekst_christian_2 {
  font-size: 3rem;
  margin-bottom: 1%;
}

.tekst_christian_3 {
  font-family: "Ubuntu";
  font-size: 1rem;
}

.tekst_christian_4 {
  font-family: "Permanent Marker";
  font-size: 1.4rem;
}

.tekst_christian_5 {
  font-family: "Permanent Marker";
  font-size: 1rem;
  margin-top: 2.5%;
}

.tekst_christian_6 {
  font-size: 1.7rem;
  font-family: "Permanent Marker";
}

.grid_1-1 ul li {
  font-family: "Ubuntu";
  line-height: 2;
  list-style-type: none;
  font-size: 1rem;
}

.grid_1-1 ul li i {
  color: #ffa31a;
}

.grid_opgaver {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  margin-top: 5%;
  text-align: center;
}

.grid_opgaver h2 {
  font-size: 1rem;
}

.grid_opgaver p {
  font-size: 0.7rem;
  font-weight: bold;
}

.opgaver a {
  text-decoration: none;
}

.opgaver a h2:hover {
  color: #ffa31a;
  transition: 0.2s ease;
}

.opgaver a h2 {
  color: black;
  list-style: none;
  transition: 0.2s;
}

.kursiv {
  font-style: italic;
}

.orange {
  color: #ffa31a;
}

/********** MOBIL (og mindre) **********/

/** Header/Burgermenu **/
body {
  font-family: Arial, sans-serif;
}
nav {
  background: black;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 7.5%;
  font-weight: bold;
}
nav .main_menu {
  display: flex;
  list-style: none;
}

nav .main_menu li a {
  display: inline-block;
  padding-left: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 18px;
  transition: 0.2s ease;
}

nav .main_menu li a:hover {
  color: #ffa31a;
}
nav .open_menu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .main_menu .close_menu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.fa-github:hover {
  color: #ffa31a;
}

.fa-youtube:hover {
  color: #ff0000;
}

.fa-facebook:hover {
  color: #1877f2;
}

.fa-instagram:hover {
  color: #c13584;
}

nav .headline {
  cursor: pointer;
  text-transform: uppercase;
}

/** Main **/
.grid_1-1-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2.5%;
}

h2 {
  font-size: 1.2rem;
}

.bold {
  font-size: 1rem;
}

a {
  font-size: 1rem;
}

p {
  font-family: "Ubuntu";
  font-size: 0.9rem;
}

/** Footer **/
body {
  font-family: Arial, sans-serif;
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  padding: 20px;
}

footer p {
  font-size: 0.8rem;
}

.text {
  font-size: 28px;
  font-weight: bold;
  margin: 40px auto;
}

.list-footer {
  margin-top: 20px;
  display: flex;
  list-style-type: none;
}

.list-footer li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 20px;
}

.list-footer li a:hover {
  color: #ffa31a;
}

.social-media {
  margin: 20px auto;
}

.social-media i {
  padding: 20px;
  font-size: 25px;
  color: #fff;
}

.fa-github:hover {
  color: #ffa31a;
}

.fa-youtube:hover {
  color: #ff0000;
}

.fa-facebook:hover {
  color: #1877f2;
}

.fa-instagram:hover {
  color: #c13584;
}

@media (max-width: 800px) {
  .list-footer li a {
    padding: 15px;
  }
  .social-media i {
    padding: 10px;
  }

  nav .main_menu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    transition: top 1s ease 0s;
    display: none;
  }
  nav .main_menu .close_menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .open_menu {
    display: block;
  }
  nav .main_menu li a:hover {
    background: none;
    color: #ffa31a;
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }

  .tekst_christian_3 {
    margin-bottom: 5%;
  }

  .tekst_christian_4 {
    margin-top: 10%;
  }

  .grid_1-1 ul li {
    margin-bottom: 5%;
  }

  .lidt_margin {
    margin-bottom: 10%;
  }

  .forsvind {
    display: none;
  }

  .no_margin_2 {
    margin-bottom: 0;
  }
}

/********** WEB **********/
@media (min-width: 800px) {
  /** Header/Burgermenu **/
  nav .main_menu li a {
    font-size: 1.5rem;
  }

  /** Main **/

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }

  .grid_galleri {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
  }

  .grid_galleri img {
    object-fit: cover;
    align-self: stretch;
  }

  .grid_galleri_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 20px;
  }

  .pic {
    grid-row: 1 / 3;
    grid-column: 1;
  }

  .pic_2 {
    grid-row: 1/2;
    grid-column: 2;
  }

  .pic_3 {
    grid-row: 2/3;
    grid-column: 2;
  }

  .pic_4 {
    grid-row: 1 / 3;
    grid-column: 3;
  }

  .no_margin {
    margin-top: 0;
  }

  .tekst_forside_1 {
    font-size: 2rem;
    color: white;
  }

  .tekst_forside_2 {
    font-size: 1.5rem;
  }

  .tekst_forside_sektion_2 {
    background-color: black;
    margin: -2.9% -8.8%;
  }

  .tekst_forside_3 {
    font-size: 1.5rem;
    color: white;
    text-align: center;
  }

  .tekst_christian_1 {
    font-size: 1.8rem;
  }

  .tekst_christian_2 {
    font-size: 4rem;
    margin-bottom: 1%;
  }

  .tekst_christian_3 {
    font-size: 1.5rem;
  }

  .tekst_christian_4 {
    font-size: 2.5rem;
  }

  .tekst_christian_5 {
    font-size: 2rem;
  }

  .tekst_christian_6 {
    font-size: 3.5rem;
  }

  .grid_opgaver {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    margin-top: 5%;
    text-align: center;
  }

  .grid_opgaver h2 {
    font-size: 3rem;
  }

  .grid_opgaver p {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .overskrift {
    font-size: 6.5rem;
  }

  .logo_hover {
    width: 50%;
    aspect-ratio: 1/1;
    opacity: 0;
    z-index: 2;
    transition: 1s;
    display: block;
  }

  .logo_hover:hover {
    transition: 1s;
    opacity: 1;
  }

  .flex_overskrift {
    display: flex;
    justify-content: end;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .grid_1-1 ul li {
    line-height: 2.5;
  }

  .center {
    align-items: center;
  }

  .flexbox {
    position: relative;
  }

  .flexbox img {
    position: absolute;
  }

  .flexbox_sounds {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .order {
    order: 1;
  }

  p {
    font-size: 1rem;
    line-height: 2.5;
  }

  h2 {
    font-size: 2rem;
  }

  /** Footer **/

  .list-footer li a {
    font-size: 1.5rem;
  }

  footer p {
    font-size: 1rem;
  }
}
